{% extends 'base.html' %}
{% block title %}Certificate List{% endblock %}

{% block content %}
    <div class="container">
        <h1>Certificate List</h1>
        <ul>
            <!-- Certificate list content -->
            {% for certificate in certificates %}
                <li>
                    <strong>Teacher:</strong> {{ certificate.teacher.name }}<br>
                    <strong>Student:</strong> {{ certificate.student.name }}<br>
                    <strong>Certificate Text:</strong> {{ certificate.text }}
                </li>
                <br>
            {% empty %}
                <li>No certificates available.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
