{% extends 'base.html' %}
{% block title %}Home - Teachers and Students{% endblock %}

{% block content %}
    <div class="container">
        <h1>All Teachers</h1>
        <ul>
            <!-- Teachers content -->
            {% for teacher in teachers %}
                <li><a href="{% url 'students_for_teacher' teacher.id %}">{{ teacher.name }}</a></li>
            {% endfor %}
        </ul>

        <h1>All Students</h1>
        <ul>
            <!-- Students content -->
            {% for student in students %}
                <li><a href="{% url 'teachers_for_student' student.id %}">{{ student.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
